html {
    min-width: 414px;

}

.container {
    padding: 0 15px;
    margin: 0 auto;

}


.header {
    // width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    @media screen and (min-width:767px) {}

    .team-flow {

        p {
            // margin-left: 15px;
            // margin-top: 30px;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: #1D2830;

            @media screen and (min-width:767px) {
                // margin-left: 50px;
            }

            .blue {
                color: #794CFF;
            }
        }
    }

    .hl {
        @media screen and (min-width:767px) {
            display: none;
        }

        .hl1 {
            width: 24px;
            height: 2px;
            background: #35414B;
            // margin-top: 30px;

        }

        .hl2 {
            width: 24px;
            height: 2px;
            background: #35414B;
            margin-top: 4px;

        }

        .hl3 {
            width: 24px;
            height: 2px;
            background: #35414B;
            margin-top: 4px;

        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 8px;

            margin-top: 6px;
            text-align: center;
            color: #4E5A65;
        }
    }

    .Menu {
        margin-top: 32px;
        margin-left: 280px;
        display: flex;
        gap: 40px;

        @media screen and (max-width:767px) {
            display: none;
        }

        .menu-dsk {
            display: flex;
            gap: 4px;

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #35414B;
            }

            img {
                width: 8px;
                height: 5px;
                margin-bottom: 3px;
            }

            &.how {
                width: 110px;
            }

            &.login {
                margin-left: 107px;
                width: 56px;
            }
        }

        button {
            margin-top: -15px;
            margin-left: -30px;
            background: #ECE6FF;
            border-radius: 4px;
            width: 170px;
            border: 0px;
            height: 48px;

            span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                color: #794CFF;
            }
        }
    }

}

